<!doctype html>
<html lang="en">
<html ng-app='RateMyPortfolio'>
<head>
  <meta charset="UTF-8"/>
  <title>RateMyPortfolio</title>
</head>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="http://n3-charts.github.io/pie-chart/bower_components/d3/d3.min.js"></script>
<script src="js/pie-chart.min.js"></script>
<script src="js/app.js"></script>
<script src="js/availableFundsFactory.js"></script>
<script src="js/diversityFactory.js"></script>
<script src="js/availableFundsController.js"></script>
<script src="js/investmentsController.js"></script>
<body>

  <h1>Rate My Portfolio</h1>
  <div ng-controller="InvestmentsController as Investments">
    <h2>Browse Funds:</h2>
    <div ng-controller="AvailableFundsController as FundsAvailable">
      <div ng-repeat="fund in FundsAvailable.list()">
          <div id="fundTitle"> {{ fund.name }} </div>
          <div id="amountInvested"> £{{ fund.value }} </div>
          <div id="sector"> Primarily invests in: {{ fund.sector }} </div>
          <button id="add" ng-click="Investments.addFund($index)">Add to my portfolio</button>
      </div>
    </div>

    <h2>Your Investments:</h2>

      <div ng-repeat="fund in Investments.investments">
        <div>
          <div id="fundTitle"> {{ fund.name }} </div>
          <div id="amountInvested"> £{{ fund.value }} </div>
          <div id="sector"> Primarily invests in: {{ fund.sector }} </div>
        </div>
      </div>
    <div id="diversityIndex">
      <h3> Diversity Index: {{ Investments.diversity() }} </h3>
    </div>
    <pie-chart data="Investments.data" options="{thickness: 10}"></pie-chart>
  </div>
</body>